<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amber Liqueur - GPS</title>
</head>
<body>
    <navbar>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>Search</li>
            <li><a href="GPS.html">GPS</a></li>
            <li><a href="store.html">Store</a></li>
            <li><a href="register.html">Register</a></li>
            <li>Shipping</li>
            <li><a href="cart.html">Cart</a></li>
        </ul>
    </navbar>
    <header>
        <div>
           
        </div>
    </header>
    
    <section id="footer">
        <div>
            <img src="logo" alt="">
        </div>
        <div>
            <p>Our social media:</p>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>LinkedIn</li>
                <li>Whatsapp</li>
            </ul>
        </div>
    </section>
</body>
</html>